
		{template 'public_head'}
		<!--中间内容开始-->
		<section>
		    <section class="hbox stretch">
		    {template 'public_left'}
		    <!--右边框架-->
			  <section id="content">
			    <section class="vbox">
			        <header class="header bg-white b-b b-light">
			            <p><i class="fa fa-home"></i> 首页</p>
			        </header>
			        <section class="scrollable wrapper w-f">
			            <!--编辑内容-->
                        




                        



						<style>
                        .form-group{height:35px;}
                        .control-label{line-height:35px;}
                        </style>

                        <!--编辑内容结束-->
			        </section>
			        {template 'public_bottom'}
			    </section>
			    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
			  </section>
			  <aside class="bg-light lter b-l aside-md hide" id="notes">
			       <div class="wrapper">不知道放什么</div>
			  </aside>
			<!--右边框架结束-->
			</section>
		  </section>
		<!--中间内容结束-->
	</section>


</body>
</html>