<footer class="footer bg-white b-t b-light">
   <p>{$_W['account']['name']} {if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="https://www.huzhan.com/ishop31919/code/"><b>创心团队</b></a> v{IMS_VERSION} &copy; 2019-2020 <a href="https://www.huzhan.com/ishop31919/code/">https://www.huzhan.com/ishop31919/code/</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}</p>
</footer>
<script src="{$_W['siteroot']}addons/tiger_newdl/template/style/js/common.js"></script>
<script>
 require(['bootstrap']);
</script>